---
import Layout from "../../layouts/Layout.astro";
import Fotter from "../../components/Fotter.astro";
import Header from "../../components/Header.astro";
import Twitter from "../../components/Redes/Twitter.astro";
---

<Layout title="Luca">
  <Header />
  <section class="Redes">
    <Twitter twitter="https://twitter.com/SmallYae" />
  </section>
  <section class="Nombre"></section>
  <section class="Apodo"></section>
  <section class="Trabajos"></section>

  <Fotter />
</Layout>
