---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Texto from "../components/Texto.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <main>
    <h1>Showmaker</h1>
    <h2>Game Jam</h2>
    <Texto
      titulo="Introducción"
      parrafo="Show Maker Jam 2024 es una Jam organizada por Jair Ochoa (Small Yae) para realizarse a lo largo de la primera mitad del año 2024."
    />
  </main>
</Layout>

<style>
  h1 {
    font-size: 250px;
  }
</style>
