---
import Layout from "../layouts/Tarjetas.astro";
import TarjetaParticipante from "../components/TarjetaParticipantes.astro";
import Prueba from "../components/Botones/Abierto.astro";
const participantes = [
  {
    nombre: "Alejandra",
    apellido: "Urueña",
    imagen: "/participantesImg/Aleja/PP.webp",
    portada: "/participantesImg/Aleja/Portada.webp",
  },
  {
    nombre: "Anderson",
    apellido: "Fernandez",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Ángela",
    apellido: "Monroy",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Daniel",
    apellido: "Herrera",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Daniel",
    apellido: "Ospina",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Daniel",
    apellido: "Reyes",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "David",
    apellido: "García",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Juan",
    apellido: "Heredia",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Laura",
    apellido: "Salazar",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Luca",
    apellido: "Serna",
    imagen: "/participantesImg/Luca/PP.webp",
    portada: "/participantesImg/Luca/Portada.webp",
  },
  {
    nombre: "Manuel",
    apellido: "Ávila",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Mariana",
    apellido: "Zuluaga",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Mariana",
    apellido: "Correal",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Natalia",
    apellido: "Bermudez",
    imagen: "/participantesImg/Nat/PP.webp",
    portada: "/participantesImg/Nat/Portada.webp",
  },
  {
    nombre: "Nicolás",
    apellido: "Gutíerrez",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Nicolás",
    apellido: "Martínez",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Paula",
    apellido: "Castellanos",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Sebastián",
    apellido: "Chipatecua",
    imagen: "/ProfileImg.png",
    portada: "/participantesImg/Chipi/Portada.webp",
  },
  {
    nombre: "Shalk-ti",
    apellido: "Calderon",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Valentina",
    apellido: "Fajardo",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Victor",
    apellido: "Jaramillo",
    imagen: "/ProfileImg.png",
    portada: "/participantesImg/Victor/Portada.webp",
  },
];
---

<Layout title="Participantes">
  <h1 class="font-bold">Participantes</h1>
  <div class="contenedor-tarjetas">
    {
      participantes.map((participante) => (
        <TarjetaParticipante
          nombre={participante.nombre}
          apellido={participante.apellido}
          imagen={participante.imagen}
          portada={participante.portada}
        />
      ))
    }
  </div>
</Layout>

<style>
  h1 {
    padding: 0 0 1rem 0;
  }
  .contenedor-tarjetas {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 305px);
    gap: 20px;
    justify-content: center; /* Esto centra los elementos horizontalmente */
    justify-items: start; /* Esto alinea los elementos a la derecha */
  }
</style>
