---
import Layout from "../layouts/Tarjetas.astro";
import TarjetaParticipante from "../components/TarjetaParticipantes.astro";
import Prueba from "../components/Botones/Abierto.astro";
const participantes = [
  {
    nombre: "Alejandra",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Anderson",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Ángela",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Daniel",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Daniel",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Daniel",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "David",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Juan",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Laura",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Luca",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Manuel",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "María",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Mariana",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Mariana",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Natalia",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Nicolás",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Nicolás",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Sebastián",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Shalk-ti",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Valentina",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Victor",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
];
---

<Layout title="Participantes">
  <h1 class="font-bold">Participantes</h1>
  <div class="contenedor-tarjetas">
    {
      participantes.map((participante) => (
        <TarjetaParticipante
          nombre={participante.nombre}
          imagen={participante.imagen}
          portada={participante.portada}
        />
      ))
    }
  </div>
</Layout>

<style>
  h1 {
    padding: 0 0 1rem 0;
  }
  .contenedor-tarjetas {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 305px);
    gap: 20px;
    justify-content: center; /* Esto centra los elementos horizontalmente */
    justify-items: start; /* Esto alinea los elementos a la derecha */
  }
</style>
