---
import Layout from "../layouts/Tarjetas.astro";
import TarjetaParticipante from "../components/TarjetaParticipantes.astro";
const participantes = [
  {
    nombre: "Juan",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Danna",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Aleja",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Valentina",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Zugi",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
  {
    nombre: "Juanita",
    imagen: "/ProfileImg.png",
    portada: "/Participante.png",
  },
];
---

<Layout title="Participantes">
  <h1>Participantes</h1>
  <div class="contenedor-tarjetas">
    {
      participantes.map((participante) => (
        <TarjetaParticipante
          nombre={participante.nombre}
          imagen={participante.imagen}
          portada={participante.portada}
        />
      ))
    }
  </div>
</Layout>

<style>
  h1 {
    padding: 0 0 6.5vw 0;
  }
  .contenedor-tarjetas {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 305px);
    gap: 20px;
    justify-content: center; /* Esto centra los elementos horizontalmente */
    justify-items: start; /* Esto alinea los elementos a la derecha */
  }
</style>
