---
import BotonJuegos from "./Botones/BotonJuegos.astro";
import BotonParticipantes from "./Botones/BotonParticipantes.astro";
import BotonHamburguesa from "./Botones/BotonHamburguesa.astro";
---

<header>
  <a href="/">
    <img src="/Sm.svg" alt="Icon" />
  </a>
  <form action="/search" method="get" class="search-form">
    <img src="/Lupa.svg" alt="" />
    <input type="text" name="q" placeholder="Buscar" id="search-input" />
  </form>
  <BotonJuegos texto="Juegos" />
  <BotonParticipantes texto="Participantes" />
  <BotonHamburguesa />
</header>

<script>
  function darkenBackground() {
    document.body.classList.add("dark-background");
  }

  function lightenBackground() {
    document.body.classList.remove("dark-background");
  }
</script>

<style>
  header {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
  }

  form {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    border-radius: 8px;
    background: #d2d2d2;
    gap: 12px;
    transition: background 0.3s ease;
  }
  #search-input {
    border: none;
    background: transparent;
    outline: none;
    flex: 1 0 0;
    width: 100%;
  }
  .search-form:focus-within {
    background: #323232;
  }
</style>
