---
interface Props {
  titulo: string;
  elementos: string[];
}

const { titulo, elementos } = Astro.props;
---

<section>
  <h3>
    {titulo}
  </h3>
  <ul>
    {elementos.map((elemento) => <li>{elemento}</li>)}
  </ul>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.5vw;
  }
  h3 {
    font-size: calc(1em + 2vw);
    font-style: normal;
    font-weight: 700;
    margin: 0px;
  }
  ul {
    margin: 0px;
    padding: 0px;
    padding-left: 1vw;
    gap: 3.5vw;
    display: flex;
    flex-direction: column;
  }
  li {
    font-size: calc(8px + 1.5vw);
    font-style: normal;
    font-weight: 300;
    align-self: stretch;
    margin: 0px;
  }
</style>
