---
interface Props {
  titulo: string;
  parrafo: string;
}

const { titulo, parrafo } = Astro.props;
---

<section>
  <h3>
    {titulo}
  </h3>
  <p>{parrafo}</p>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5vw;
  }
  h3 {
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
    margin: 0px;
  }
  p {
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 300;
    align-self: stretch;
    margin: 0px;
  }
</style>
