<section>
  <a href="/participantes" class="boton"> Participantes</a>
  <button> Juegos</button>
</section>
<style>
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px;
  }
  a {
    box-sizing: border-box;
    width: 100px;
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #f8f8f8;
    border-radius: 8px;
    border: 1px solid #222;
    text-decoration: none;
    color: #222;
    font-size: 12px;
    font-weight: 200;
  }
  button {
    width: 100px;
    box-sizing: border-box;
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #222;
    color: #f8f8f8;
    border: 1px solid #f8f8f8;
  }
</style>
