<button>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="18"
    height="13"
    viewBox="0 0 18 13"
    fill="none"
  >
    <path
      d="M0 12.5449V10.5449H18V12.5449H0ZM0 7.54492V5.54492H18V7.54492H0ZM0 2.54492V0.544922H18V2.54492H0Z"
      fill="white"></path>
  </svg>
</button>
<style>
  button {
    padding: 16px 13px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #222;
    color: #f8f8f8;
    border: none;
    display: none;
  }
  @media (max-width: 600px) {
    button {
      display: flex;
    }
  }
</style>
