---
interface Props {
  texto: string;
}

const { texto } = Astro.props;
---

<a href="/participantes" class="boton">
  {texto}
</a>

<style>
  a {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #f8f8f8;
    border-radius: 8px;
    border: 1px solid #222;
    text-decoration: none;
    color: #222;
    font-size: 12px;
    font-weight: 200;
  }
  @media (max-width: 600px) {
    a {
      display: none;
    }
  }
</style>
