---
interface Props {
  twitter: string;
}

const { twitter } = Astro.props;
---

<a href={twitter}>
  <button>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="633"
      height="593"
      viewBox="0 0 633 593"
      fill="none"
    >
      <path
        d="M1.93102 0.344971L245.939 326.868L0.390137 592.345H55.6534L270.631 359.916L444.327 592.345H632.39L374.653 247.456L603.208 0.344971H547.945L349.961 214.408L189.994 0.344971H1.93102ZM83.1997 41.0845H169.596L551.109 551.599H464.712L83.1997 41.0845Z"
        fill="black"></path>
    </svg>
  </button>
</a>

<style>
  button {
    background-color: transparent;
    display: flex;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid #1da1f2;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Agrega una transición suave al cambio de color */
  }
  button:hover {
    background-color: #1da1f2; /* Cambia el color de fondo cuando el cursor pasa por encima */
  }
  button svg {
    width: 30px;
    height: 30px;
  }
</style>
